<div class="body" *ngIf="currentUser">
        <div class="verticale-nav">
        <app-nav-bar></app-nav-bar>
        </div>
        <div class="separator"></div>
            <div class="contenu">
                <div class="cadre">
                    <h2><p>Bienvenue dans la plateforme GESTOCK dédiée à la gestion des stock d'un batiment de stockage</p></h2>
                </div>
                <h1>Hi {{currentUser.Prenom}} {{currentUser.Nom}}!</h1>
            <p>You're logged in with Angular 8!!</p>
            <h3>All registered users:</h3>
            <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Laudantium repudiandae dignissimos officiis ex temporibus dolorum ipsam voluptate. Vel quibusdam repudiandae id amet. Sequi fugiat sapiente impedit quia, ad iure officia.</p>

            </div>
        </div>


